* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.25rem;
  min-height: 100vh;
  background-color: var(--color-background);

  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content"
    "sidebar footer";
  grid-template-columns: 16rem 1fr;
  grid-template-rows: auto 1fr auto;
}

:root {
  --color-dark: #2c2c2d;
  --color-white: #fffffe;
  --color-blue: #4c6daf;
  --color-grey: #cccccc;
  --color-background: #e0e0e0;
  --color-black: #000;
}

header {
  grid-area: header;
  background-color: var(--color-blue);
  padding: 2rem;
  color: var(--color-white);
  font-weight: 600;
  font-size: 1.5rem;
}
.sidebar {
  grid-area: sidebar;
  background-color: var(--color-dark);
  padding: 2rem 2rem;
}

.sidebar ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar a {
  text-decoration: none;
  color: var(--color-white);
}

.content {
  grid-area: content;
  padding: 2rem;

  display: grid;
  gap: 2rem;
  grid-template-areas:
    "stats"
    "charts"
    "table";
  grid-template-rows: auto 1fr auto;
}

.stats-section {
  grid-area: stats;

  display: flex;
  gap: 2rem;
}

.card {
  background-color: var(--color-white);
  padding: 1.5rem;
  text-align: center;
  box-shadow: 1px 1px 10px var(--color-grey);
}

.card h3 {
  color: var(--color-blue);
  margin-bottom: 0.5rem;
}

.card p {
  font-weight: 600;
  font-size: 1.7rem;
}

.chart-section {
  grid-area: charts;
  background-color: var(--color-white);

  display: grid;
  grid-template-areas:
    "title"
    "charts";
  grid-template-rows: auto 1fr;
  gap: 1rem;

  padding: 1rem;
  box-shadow: 1px 1px 10px var(--color-grey);
}

.chart-section h2 {
  grid-area: title;
}

.charts {
  grid-area: charts;

  display: grid;
  grid-template-areas:
    "chart1 chart2 chart3"
    "chart4 chart4 chart4";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.chart-placeholder {
  background-color: var(--color-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

#chart1 {
  grid-area: chart1;
}

#chart2 {
  grid-area: chart2;
}

#chart3 {
  grid-area: chart3;
}

#chart4 {
  grid-area: chart4;
}

.table-section {
  grid-area: table;
  background-color: var(--color-white);
  padding: 1rem;
  box-shadow: 1px 1px 10px var(--color-grey);
}

.table-section h2 {
  margin-bottom: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr th {
  background-color: var(--color-blue);
  padding: 0.7rem;
  color: var(--color-white);
  text-align: start;
}

tr td {
  border-bottom: 1px solid var(--color-grey);
  padding: 0.7rem;
}

footer {
  grid-area: footer;
  background-color: var(--color-blue);
  padding: 1.5rem;
  text-align: center;
  color: var(--color-white);
  font-weight: 600;
}
