body {
  font-family: "Montserrat";
  box-sizing: border-box;
}

div {
  width: 80%;
  height: 600px;
  /* background-color: #900; */
  background-image: url(../images/pexels-darlene-alderson-4390048.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 20px auto;
}

p {
  background-color: #900;
}
